body{
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

legend{
  padding: 30px 4px;
  font-size: 30px;
  margin-bottom: 30px;
}
.input{
  margin : 20px 10px;
}
.btn{
  margin: 30px 0px 30px 160px;
  padding : 10px 30px;
}
.login-box{
  border : 2px solid #C6C3C3;
  border-radius: 5%;
  padding: 5px;
  margin: 150px 0px;

}
.images-contain{
  min-height:  150px;
  border : 1px solid rgba(221, 221, 221, 0.35);
  padding: 10px;
  
}
.contain{
  margin-bottom: 30px;
}

.images-contain1{
  min-height: 90px;
  border : 1px solid rgba(221, 221, 221, 0.35);
  padding: 15px;
  
}


img{
  
  margin :1px; 
}
.navbar-brand{
  margin-left: 80px;
}


